<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.winter.app.products.ProductDAO">
  
  	<select id="getTotalCount" resultType="java.lang.Long">
  		SELECT COUNT(BOOKNUMBER) FROM BANKBOOK
  	</select>
  
  	<select id="getList" resultType="ProductDTO" parameterType="Pager">
  		<![CDATA[
  		SELECT * FROM
			(
				SELECT ROWNUM R, B.* FROM
					(
						SELECT * 
						FROM BANKBOOK
						ORDER BY BOOKNUMBER DESC
					) B
			)
		
		WHERE R BETWEEN #{startRow} AND #{lastRow} 
		 ]]>
  	</select>
  	
  	<select id="getDetail" resultType="ProductDTO" parameterType="ProductDTO">
  		SELECT * FROM BANKBOOk WHERE BOOKNUMBER = #{bookNumber}
  	</select>
  	
  	<insert id="add" parameterType="ProductDTO">
  		INSERT INTO BANKBOOK 
  		VALUES (BANKBOOK_SEQ.NEXTVAL, #{bookName}, #{bookRate}, 1, #{bookDetail})
  	</insert>
  	  	
  	<update id="update" parameterType="ProductDTO">
  		UPDATE BANKBOOK SET 
  			BOOKNAME=#{bookName}, 
  			BOOKRATE=#{bookRate},
  			BOOKDETAIL=#{bookDetail} 
  		WHERE BOOKNUMBER=#{bookNumber}
  	</update>
  	
  	<delete id="delete" parameterType="ProductDTO">
  		DELETE BANKBOOK WHERE BOOKNUMBER=#{bookNumber}
  	</delete>
  	
  	
  	
  </mapper>